<nav>
	
					<ul class="admin-navbar">
            
						<li class="nav-item">
							 <a class="dropdown-item" href="{{ path('app_calendar_index')  }} ">Liste des séances</a>
						</li> 

						<li class="nav-item">
							<a class="dropdown-item" href="{{ path('app_calendar_main') }} "> Calendrier</a>
						</li> 
					

                        
					</ul>

</nav>
